<div class="circle-container">
  <div id="landingUI">
    <div id="inside_circle">
      <div id="icon_top"><%= link_to "", article_listing_index_path , class: "icon" %></div>
      <div id="center_column">
        <div class="left"><a href="" class="icon"></a></div>
        <div class="center"></div>
        <div class="right"><a href="" class="icon"></a></div>
      </div>
      <div id="icon_bottom"><a href="" class="icon"></a></div>
    </div>
  </div>
</div>